.logo-text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.navbar .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar .nav-link:hover {
    border-bottom: 2px solid white;
}
.nav .nav-link{
    color: black;
}
.nav .nav-link:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}
.banner {
    background-image: url("../img/banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


