.logo-text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.nav-link {
    color: rgb(251, 255, 251);
}

.nav-link:hover {
    background-color: rgb(131, 131, 131);
    color: white;
}
.banner {
    background-image: url("../img/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


